/*! layout_01.css © xidostudios.com, 2016 */
 @charset "UTF-8";
 /*  ................................................................ */

.container{width: 960px; height: 2000px; margin: 0 auto; background-color: #ccc;}
	.container>div{width: 100%;} 
	/* header ---------------------------------------------------------- */
	.container>#header{width:850px; height: 70px; padding: 40px 55px; 
		background-color: #3ff;}
		h1{width: 200px; height: 70px; float: left; background-color: #5f2;}
		#gnb{width: 600px; height: 40px; float: right; margin-top:15px; background-color: #5f2;}

		/* addBanner ---------------------------------------------------------- */
	#addBanner{height: 500px; overflow: hidden; position: relative;}
		.slide_btn{width: 100px; height: 100px; 
			position: absolute; right:0; top:50%; margin-top:-50px; z-index:100;}
			.slide_btn>button{width: 100%; height: 50%; 
				font-weight: bold; color:#fff; font-size:2rem;}
			.slide_btn>button:hover, 
			.slide_btn>button:focus{background-color: #ccc; color:#333;}
			.left_banner_button{background-color: #075;}
	    .right_banner_button{background-color: #570;}
	    
		.banner_box{width: 400%; height: 100%; margin-left: -100%; background-color: #777;}
		.banner_box>li{width: 25%; height: 100%; float: left; 
			text-align: center; line-height: 500px; font-size: 5rem; color:#fc0; font-weight: bold;}
			.banner_area_01{background-color: #151;}
		  .banner_area_02{background-color: #262;}
		  .banner_area_03{background-color: #373;}
		  .banner_area_04{background-color: #484;}
		  .banner_area_05{background-color: #595;}
		  .banner_area_06{background-color: #616;}
		  .banner_area_07{background-color: #717;}
		  .banner_area_08{background-color: #818;}

		.indicate{width: 200px; height: 30px; background-color: #fff;
			position: absolute; bottom:20px; left:50%; margin-left:-100px; z-index:100;}
	/* model ---------------------------------------------------------- */
	#model{height: 400px; background-color: #f3f;}

	/* gallery ---------------------------------------------------------- */
	#gallery{height: 600px; background-color: #ff8;}

	/* footer ---------------------------------------------------------- */
	#footer{height: 350px; background-color: #f8f;}
		.footer_top{width: 100%; height: 50px; background-color: #999;}
    .footer_nav{width: 820px; height: 180px; padding:20px 70px; background-color: #777;}
    .footer_address{width: 920px; height: 40px; padding: 20px; background-color: #0af;}