/* ir_02.css */

h1{width: 128px; height: 128px; border:1px solid #acc; margin: 0 auto;}
h1>a{width: 100%; height: 100%; display: block; 
	background-color: #777; /* text-indent:-9999em; overflow: hidden; */
	background-image: url("../img/background/icon_03.png");
	background-repeat:no-repeat; background-position: center center;}
	/* 특정된 class네임 hidden 에만 숨김처리하는 방법 */
.hidden{width: 0; height: 0; overflow: hidden; display: block;}
	/* 여러개의 링크된 내용안의 숨김처리 해야하는 경우(ir기법시) */
.link a{width: 100%; height: 100%; display: block;}
.link a>span{width: 0; height: 0; display: block; overflow: hidden;}


ul, li{list-style: none; margin: 0; padding: 0;}
ul{width: 1024px; height: 256px; margin: 0 auto; border: 1px solid #0af;}
ul>li{width: 256px; height:inherit; float: left;}
ul>li>a{background-repeat: no-repeat; background-position:center;
	/* width:inherit; height:inherit; display: block; */}
.li_01>a{background-image:url("../img/background/li_01.png");}
.li_01>a:hover{background-image:url("../img/background/li_02.png");}
.li_02>a{background-image:url("../img/background/li_02.png");}
.li_03>a{background-image:url("../img/background/li_03.jpg");}
.li_04>a{background-image:url("../img/background/li_04.png");}