/* test_02_unb.css */
/*reset*/
body, html{height: 100%;}
body, h1, h2,h3,h4,h5,h6,p, div, ul,ol,li ,img{ margin: 0;padding: 0; border: 0;}

ul,li,ol{list-style: none;}
a:focus{outline: 5px solid #333;}

/*design*/
#wrap{width: 960px; height: auto;margin: 0 auto;}
#header{width: 100%; height: 215px; background-color: #faa;}
h1{width: 258px; height: 50px; float: left; margin-top: 36px; margin-left: 46px; background-color: #acc;}
.unb{width:260px; height:18px; float:right; margin-top:18px; margin-right: 20px; background-color: #ac9;}
.unb>h2{width: 0; height: 0; overflow: hidden;}

.unb>ul{width: 100%; height: 100%;}
.unb>ul>li{float: left; height: 100%;}
.unb>ul>li>a{float:left;}
.unb_01{width: 59px; background-color: #0cc;}
.unb_02{width: 53px; background-color: #99f;}
.unb_03{width: 64px; background-color: #0cc;}
.unb_04{width: 84px; background-color: #99f;}
.unb_bar{float:right;}