/* test_02_unb_02_text.css */
/*reset*/
body, html{height: 100%;}
body, h1, h2,h3,h4,h5,h6,p, div, ul,ol,li ,img{ margin: 0;padding: 0; border: 0;}

ul,li,ol{list-style: none;}
a:focus{outline: 5px solid #333;}

/*design*/
#wrap{width: 960px; height: auto;margin: 0 auto;}
#header{width: 100%; height: 215px; background-color: #faa;}
h1{width: 258px; height: 50px; float: left; margin-top: 36px; margin-left: 46px; background-color: #acc;}
.unb{width:260px; height:18px; float:right; margin-top:18px; margin-right: 20px; background-color: #fff;}
.unb>h2{width: 0; height: 0; overflow: hidden;}

.unb>ul{width: 100%; height: 100%;}
.unb>ul>li{float: left; height: 100%; text-transform:uppercase; font-size:0.8rem;
	text-align: center; border-right:1px solid #888;}


.unb>ul>li>a{float:left; color:#333; text-decoration: none;}
.unb_01{width: 58px;/*  background-color: #0cc; */}
.unb_02{width: 52px;/*  background-color: #99f; */}
.unb_03{width: 63px;/*  background-color: #0cc; */}
.unb .unb_04{width: 84px; border-right:0; padding-right: 0;/*  background-color: #99f; */}
.unb_04 abbr{word-spacing:-0.3rem;}
.unb_04 abbr:after{content:"/";}
.unb_04 span{width: 0; height: 0; display: inline-block; overflow: hidden;}
.unb_bar{float:right;}