/* mob.css */
@media screen and (max-width:767px){
	
	#headBox{width:100%; min-height:3.375rem; height:16.875vw;
		box-sizing: border-box; padding:0.5rem 1.375rem 0;}
		h1{width:38.125vw;  height:10.625vw;}
		

  #gnb{width: 100%; height:14.75rem; background-color: #f37;}
  #addBanner{width: 100%; min-height:10.5rem; height: 52.5vw; background-color: #f54;}
  #content{width: 100%; min-height:728px; height: 227.5vw; background-color: #f72;}
  #footBox{width: 100%; min-height:11rem; height: 55vw; background-color: #f90;}	

}/* mob.css */

/* 기본 형태 작업후 768까지 작업 (max-width:768px) */