/* mob.css */
@media screen and (max-width:767px){
	
	#headBox{width:100%; min-height:3.375rem; height:16.875vw;
		box-sizing: border-box; padding:0.5rem 1.375rem 0;}
		h1{width:38.125vw;  height:10.625vw;}
		.unb {min-width:1.625rem; width:8.125vw; min-height:1.375rem; height:6.875vw; }
		.unb h2{width: 100%; height: auto; float: right;}
		.unb h2 button{width: inherit; height:inherit;}
		.unb h2 i{font-size:6.875vw;}

		.unb ul{width:calc(100vw - 2.75rem); height:12.5vw; 
			background-color: #fac; float: right; margin-right:-1.375rem;	margin-top:10vw;
		  box-sizing:border-box; padding:4.9vw 0.5rem;
			background-color:#000; display: none;}
		.unb ul>li{float: left; font-size:4vw;}
		.unb ul>li::after{height:4.5vw;}


/* #gnb ------------------ */
  #gnb{height:14.75rem;}
	#gnb>ul>li{width:50%; height:50%;}
	#gnb>ul>li:nth-child(2n)::after{border-right:0;}
/* #addBanner ------------------- */
  #addBanner{width: 100%; min-height:10.5rem; height: 52.5vw; background-color: #f54;}
  .banner_btn{display: none;}

	#viewBox{display: none;}

	#bannerBox{width: 100%; min-height:8.625rem; height:43.125vw; background-color: #afc;}
	
	#bannerBox>ul{width:100%; height: 100%;}
	#bannerBox>ul>li{display: none;}
	#bannerBox>ul>li:first-child{display: block; width: 100%; height: 100%;}

	#sns{width: 100%; min-height:1.875rem; height: 9.375vw;}
	#sns>ul{width: 100%; height: 100%; }
	#sns>ul>li{width: calc(100% / 3); height: 100%; float:left;}
	#sns>ul>li>a{width: 100%; height: 100%; display: block;}

/* #content ---------------------------*/
  #content{width: 100%; min-height:45.5rem; height:auto; background-color: #f72;
  	padding:0.625rem; box-sizing: border-box;}
	#content>dl{width: 100%; height: auto;}
	#content>dl>dt{text-transform: uppercase; font-size:1.5rem; 
		margin-top: 1.25rem; margin-bottom: 0.5rem;}
	#content>dl>dt::before{content:" "; display:inline-block;
		width:1.375rem; height:1.375rem; margin-right: 0.5rem;
		background-image: url("../../img/content_icon.png"); }
	#content>dl>dd{width: 100%; min-height: 11.25rem; height:56.25vw; 
		background-color: #fff;	display: none;}
	#content>dl>dd:first-of-type{display: block;}
	
/* #footBox ---------------------------*/
  #footBox{width: 100%; min-height:11rem; height: 55vw; background-color: #f90;}	

}/* mob.css */

/* 기본 형태 작업후 768까지 작업 (max-width:768px) */