@import "color";
@import "_setting";

$url_base: "../img/base/";

.container{width: 100%; height:auto;
	>header{width: 100%; height: 10rem; background-color:$sub;}
	>article{min-width: 60rem; width: 90%; padding: 2rem; box-sizing:border-box;
		@include bg1($m:$primary, $t:#f00);}
	>footer{width: 100%; height: 5rem; background-color:lighten($primary, 50%);}
}// .container

body{@include link($w:200px, $h:300px, $f:"zzzzzz");}

#backgroundColorChange{
	&:hover{}
	>li{
		>a{
			&:hover{}
		} // >a
	} // >li
} // #backgroundColorChange


.box{ background:{
				color:$main;
				image:url("./img/a.jpg");
				repeat:no-repeat;
				position:top left;
				attachment:fixed;
				size:cover;
		}
}

.box2{
	@extend .box;
}