/* model ---------------------------------------------------------- */
	#model{height: 370px; background-color: #fff; text-align: center;
		padding-top:30px;}
		#model>h2{width: 70%; height: 40px; font-size:3rem; margin:0 auto;}
		#model>p{width: 70%; height: 30px; font-size:1rem; line-height: 30px;
				margin:20px auto; color:#555;}
		#model>.model_link{width:250px; height: 40px; border:1px solid #0af; margin:10px auto;
			box-shadow:0 2px 4px #ccc;}
		#model>.model_link>a{width: inherit; height: inherit; display: block; 
			line-height:40px;	font-weight: bold; color:#fff; background-color: #0af;}
		#model>.model_link>a:hover, 
		#model>.model_link>a:focus{background-color: #fff; color:#333;}