/* header.css ---------------------------------------------------------- */
	.container>#conHeader{width:850px; height: 70px; padding: 40px 55px; 
		background-color: #3ff;}
		h1{width: 200px; height: 70px; float: left; background-color: #5f2;}
		#gnb{width: 600px; height: 40px; float: right; margin-top:15px; background-color: #5f2;}