/* css3_05_background_01.css */

/*
background-color
background-image
background-repeat
background-position
background-attatchment: fixed | scroll;

background-size: cover | contain | %;
	cover: 주어진 크기에맞게 꽉차게 만드는것(일부 유실가능성 있음)
	contain: 이미지 전체를 무조건 다 보이게(비율 유지)
	%: 하나만 작성시 가로비율만 주어진 크기에 맞게 배치 

background-image:기능추가;
image기능추가: 
	1. 멀티 이미지배치가 가능해졌다( url(), url(), url(), url())
			background-position:0 0, top right, bottom center, left 100%;
			background-repeat:no-repeat, repeat, repeat-x, repeat;
	2. gradient(linear, radial)

background:url('.png'), repeat, 0 0;
*/

body{background-color: #8af;}
h1{width: 100%; height: 3rem; text-align: center; margin-bottom: 2rem;
	box-shadow:0 2px 3px #333; background-color: #fff;}
div{width:700px; height:300px; border-bottom:1px solid #333;
	background-color:#ddd; margin:0 auto;	box-sizing:border-box; 
	padding:1rem; background-repeat: no-repeat;}
.box_01{background-image: url(../../img/bg_01.png);
	background-size:50%;}
.box_02{background-image: url(../../img/bg_02.jpg);
	background-size:contain;}
.box_03{
	background-image: url(../../img/bg_03.png), url(../../img/bg_01.png);
	background-position:left bottom, right top;
	-webkit-background-size:20%, 30%; 
	-moz-background-size:20%, 30%; 
	-ms-background-size:20%, 30%; 
	-o-background-size:20%, 30%; 
	background-size:20%, 30%; 
}

.box_04{opacity:1;
	background-image:-webkit-linear-gradient(-30deg, #0af 50%,rgba(255,150,0,0.5) 50%);
	background-image:-moz-linear-gradient(-30deg, #0af 50%,rgba(255,150,0,0.5) 50%);
	background-image:-ms-linear-gradient(-30deg, #0af 50%,rgba(255,150,0,0.5) 50%);
	background-image:-o-linear-gradient(-30deg, #0af 50%,rgba(255,150,0,0.5) 50%);
	background-image:linear-gradient(-30deg, #0af 50%,rgba(255,150,0,0.5) 50%);
}

.box_05{
	background-image:-webkit-radial-gradient(right center, #0af, #fa0, #f07);
	background-image:-moz-radial-gradient(right center, #0af, #fa0, #f07);
	background-image:-ms-radial-gradient(right center, #0af, #fa0, #f07);
	background-image:-o-radial-gradient(right center, #0af, #fa0, #f07);
	background-image:radial-gradient(right center, #0af, #fa0, #f07);
	background-color: #fa0;
}

